body{
	font-family: 'Inter', sans-serif;
	font-weight: 700;
}
.h1{
	margin: 63px 0;
	font-size: 40px;
	font-weight: 700;
	}
	.h2{
		margin: 63px 0;
		font-size: 40px;
		font-weight: 700;
		text-align: center;
	}
	.line{
	width: 402px;
	border-bottom: 5px solid #3E45E8;
}

.line2
{
width: 402px;
border-bottom: 5px solid #3E45E8;
align-items: center;
margin-left: 35%;
}
.image
{	padding-top: 41px;
	box-sizing: border-box;
	padding-left: 294px;
	padding-right: 334px;
}

	.header {
	min-height: 50px;
	max-height: 548px;
	text-align: center;
	color: #E8C23E;
	font-size: 48px;
	font-weight: 400;
	padding: 31px 0;	
} 
.header-span{
	color: #3E45E8;
  }
  .banner{
	height: 803px;
	background-image: url("../img/замок.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 195px;
	box-sizing: border-box;
	padding-left: 80px;
}
.banner2{
	background-color: #2F4A4B;
	margin-top: 21px;
	height: 320px;
	width: 100%;

}

.content{
	padding-top: 5%;
	box-sizing: border-box;
	color: white;
	width: 50%;
	font-size: 48px;
	padding-left: 59px;
	background-repeat: no-repeat;
	height: 388px;
	background-image: url("../img/flag2.png");}
	
	.content_background{
		margin-left: 511px;
		margin-right: 523px;
		padding-top: 10px;
		padding-bottom: 10px;
		box-sizing: border-box;
		color: #FFFFFF;
		width: 591px;
		font-size: 64px;
		padding-left: 92px;
		padding-right: 93px;
		background-repeat: no-repeat;
		height: 121px;
		background-image: url("../img/backgraund.png");}

		.content2{
	color: #A89D9D;
	font-size: 24px;
	font-weight: 400;
	padding-top: 5px;
		}

	.main{
		padding: 0 80px;
	}
	
.card{
	border: 1px solid black;
	width: 30%;
	color: #030303;
	vertical-align:top;
	display: inline-block;
	overflow: hidden;
	border-radius: 32px;
	box-shadow: 0px 4px 6px rgb(0 0 0 / 50%);
}

.card_image{
	width: 100%;
}
.card_margin{
	margin: 0 4.5%;
}
.card__title{
	font-size: 24px;
	color: #1E8DF2;
	padding: 10px;
	box-sizing: border-box;
}
.card__subtitle{
	font-size: 20px;
	font-weight: 400;
	color: #E8C23E;
	padding: 10px;
	box-sizing: border-box;
}
