.banner{
	height: 852px;
	background-image: url("../img/sobor.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 218px;
	box-sizing: border-box;
	padding-left: 80px;
}

.content{
	padding-top: 5%;
	box-sizing: border-box;
	color: white;
	width: 50%;
	font-size: 64px;
	padding-left: 59px;
	background-repeat: no-repeat;
	height: 388px;
	background-image: url("../img/flag.png");}